apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://localhost:3200
    isDefault: true
    editable: true
  
  - name: Loki
    type: loki
    access: proxy
    url: http://localhost:3100
    editable: true
    jsonData:
      maxLines: 1000
